* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
:root {
  --primary-color: #cfb991;
  --secondary-color: #d1ccc0;
  --dark-color: #0a0a30;
  --light-color: #c5dceb4b;
}*/

.nav1 {
  background-color: #cfb991;
  color: black;
  height: 35px;
}

.nav1 a {
  text-decoration: none;
  color: black;
}
.nav1 a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: black;
}

.nav1 a:active {
  color: black;
}

.nav2 {
  background-color: black;
  height: 102px;
}

.nav2 img {
  max-height: 75px;
  border-right: 2px solid rgba(255, 255, 255, 0.534);
}

.nav2 .BICC {
  padding-left: 10px;
  padding: 10px;
}

.nav3 a {
  text-decoration: none;
  color: #000;
}

.nav3 {
  background-color: #f8f8f8;
  padding-top: 10px;
}

.navbox {
  box-shadow: 10px 5px 5px black;
}

.nav3 a:hover {
  color: black;
}

.nav3 ul::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: relative;
  bottom: 0;
  background-color: rgb(134, 109, 27);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav3 ul:hover::after {
  transform: scaleX(1);
}

.maingrid {
  background-color: #ededed;
  height: 85vh;
}

.maingrid h5 {
  font-weight: bold;
}

.maingrid .container {
  width: 75vw;
  padding-top: 20px;
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "sidebar sidebar content1 content1 content2 content2"
    "sidebar sidebar content1 content1 content3 content4"
    "sidebar sidebar content5 content6 content7 content7"
    "sidebar sidebar content8 content8 content7 content7";
}

#sidebar {
  background: white;
  grid-area: sidebar;
  height: fit-content;
  overflow: visible;
}

.sidebarbutton:hover {
  background-color: #d3c6ae;
}

#content1 {
  background-size: cover;
  grid-area: content1;
  color: white;
  font-size: 30px;
  position: relative;
}

.content-p {
  position: absolute;
  bottom: 0;
  left: 0;
}
.span {
  background-color: #fff !important;
  display: block;
  margin-bottom: 10px;
  width: 60px;
  height: 7px;
}

.sidebarbutton {
  height: auto;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 3px;
  border: 2px solid rgb(139, 112, 76);
  margin: 10px;
}

.sidebarbutton a {
  color: black;
  text-decoration: none;
}

#content2 {
  color: white;
  background: black;
  grid-area: content2;
  position: relative;
  font-size: 25px;
}

#content3 {
  color: white;
  background: black;
  grid-area: content3;
  position: relative;
  font-size: 17px;
}

#content4 {
  color: white;
  background: black;
  grid-area: content4;
  position: relative;
  font-size: 17px;
}

#content5 {
  color: white;
  background: black;
  grid-area: content5;
  position: relative;
  font-size: 17px;
}

#content6 {
  color: white;
  background: black;
  grid-area: content6;
  position: relative;
  font-size: 17px;
}

#content7 {
  color: white;
  background-size: cover;
  grid-area: content7;
  position: relative;
  font-size: 25px;
}

#content8 {
  color: white;
  background: black;
  grid-area: content8;
  position: relative;
  font-size: 25px;
}

#content1 .icon {
  display: none;
}
#content2 .icon {
  display: none;
}
#content7 .icon {
  display: none;
}
#content8 .icon {
  display: none;
}

.icon {
  font-size: large;
}

.fa-book {
  color: rgb(226, 187, 60);
}

.fa-university,
.fa-laptop {
  color: rgb(143, 143, 143);
}

.fa-sign-in-alt {
  color: rgb(224, 201, 125);
}

.bigfooter .fa-plus {
  display: none;
}
.bigfooter {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 978px) {
  .nav2 {
    height: auto;
    justify-content: center;
    text-align: center;
  }
  .nav2 img {
    margin: auto;
    border: none;
  }
  .nav2 .BICC {
    margin: auto;
  }
  .nav3 {
    width: 99vw;
    background-color: rgb(36, 36, 36) !important;
  }
  .nav3 a {
    display: none;
  }
  
  .maingrid {
    height: auto;
  }
  .maingrid .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 145px);
    overflow: visible;
    height: auto;
    gap: 20px;
    grid-template-areas:
      "sidebar sidebar"
      "sidebar sidebar"
      "sidebar sidebar"
      "content1 content2"
      "content3 content4"
      "content5 content6"
      "content7 content8";
  }
  #content1,
  #content7 {
    background-color: black;
  }
  #content1 {
    font-size: 16px;
  }
  #content2 {
    font-size: 16px;
  }
  #content3 {
    font-size: 16px;
  }
  #content4 {
    font-size: 16px;
  }
  #content5 {
    font-size: 16px;
  }
  #content6 {
    font-size: 16px;
  }
  #content7 {
    font-size: 16px;
  }
  #content8 {
    font-size: 16px;
  }
  .span {
    display: none;
  }
  #content1 .icon {
    display: contents;
  }
  #content2 .icon {
    display: contents;
  }
  #content7 .icon {
    display: contents;
  }
  #content8 .icon {
    display: contents;
  }
  .bigfooter a {
    display: none;
  }
  .bigfooter {
    flex-direction: column;
  }
  .icon {
    font-size: larger;
  }
  .bigfooter .bar {
    display: contents;
    text-align: right;
  }
  .fa-plus {
    color: #cfb991;
  }
  .row {
    width: 100vw;
    padding: 0px 0px 0px 0px !important;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    border-bottom: #cfb991 1px solid;
  }
  .row h4 {
    padding-top: 20px;
  }
  .bar {
    width: 25px;
  }
  .bigfooter-right {
    margin: auto;
  }
  .footerlogo {
    margin: auto;
    padding-top: 20px;
    min-width: 25vw;
  }
  .logos .fab {
    padding: 20px 12px 0px 12px;
    font-size: medium;
    color: rgb(183, 183, 184);
  }
  .foot2 {
    padding: 10px 20px 10px 20px;
  }
}

@media only screen and (min-width: 977px) {
  #content1 {
    background-image: url(images/home-cognos.png);
  }
  #content7 {
    background-image: url(images/home-data.png);
  }
}
.bigfooter-right img {
  max-width: 300px;
  min-width: 150px;
}

.bigfooter a {
  text-decoration: none;
  color: lightgray;
}

.bigfooter h4 {
  color: #cfb991;
  font-size: large;
}
.bigfooter a:hover {
  color: white;
}

.fas {
  color: rgb(182, 181, 181);
}

.nav1 .fas {
  color: black;
}
.foot2 {
  background-color: rgb(61, 61, 61);
  color: rgb(182, 181, 181);
  max-width: 100vw;
}

.foot2 a {
  color: rgb(182, 181, 181);
}

.foot2 a:hover {
  color: rgb(182, 181, 181);
  text-decoration: none;
}
